@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(90deg,rgba(15, 32, 39, 1) 0%, rgba(32, 58, 67, 1) 50%, rgba(44, 83, 100, 1) 100%);
    display: flex;
    align-items: center;
}

h1 {
    margin-top: 0;
    padding: 0;
    color: #333;
}

p {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
}

.mainContainer {
    background-color: #f6f7fc;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.alignTwoInputs {
    display: flex;
    align-items: center;
    width: 31rem;
}

.labelsMenores {
    color: #333;
}

.itensDireita {
    margin-left: 72px;
}

.itemUnico {
    width: 31rem;
}

.inputsInfos {
    border: none;
    border-radius: 0.25rem;
    padding: 10px 10px 10px 10px;
    width: 12rem;
    color: #495057;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.inputsInfos:focus {
    outline: none;
}

.inputUnico {
    border: none;
    border-radius: 0.25rem;
    padding: 10px 10px 10px 10px;
    width: 29.7rem;
    color: #495057;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.inputUnico:focus {
    outline: none;
}

.avancarButton {
    border: none;
    background-color: #2C5364;
    color: #fff;
    padding: 15px 20px 15px 20px;
    margin-top: 2rem;
    border-radius: 0.25rem;
}

.avancarButton:hover {
    border: none;
    background-color: #1d3a46;
    color: #fff;
    padding: 15px 20px 15px 20px;
    margin-top: 2rem;
}

.alignButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pabloLogo {
    width: 8rem;
    height: 8rem;
}

.alignLogo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: calc(100% - 2rem);
    margin-top: 2rem;
    margin-right: 2rem;
}