@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(90deg,rgba(15, 32, 39, 1) 0%, rgba(32, 58, 67, 1) 50%, rgba(44, 83, 100, 1) 100%);
    display: flex;
    align-items: center;
}

.mainContainer {
    background-color: #f6f7fc;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100vh;
    box-sizing: border-box;
}

.alignTwoInputs {
    display: flex;
    align-items: center;
}

.labelsMenores {
    color: #333;
    width: 15rem;
}

.itensEsquerda {
    width: 10rem;
}

.itensDireita {
    width: 10rem;
    margin-left: 100px;
}

.itemUnico {
    width: 10rem;
    margin-left: 100px;
}


.inputsInfos {
    border: none;
    padding: 10px 10px 10px 10px;
    width: 12rem;
}

.avancarButton {
    border: none;
    background-color: #2C5364;
    color: #fff;
    
}